Source: furios-app-branchy
Maintainer: Jesús Higueras <jesus@furilabs.com>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3,
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/furilabs/branchy
Vcs-Git: https://github.com/furilabs/branchy.git

Package: furios-app-branchy
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-aiohttp,
         python3-gi,
         gir1.2-glib-2.0,
         gir1.2-adw-1,
         gir1.2-gtk-4.0,
Description: Feature branch management app for FuriOS
